.form-control{
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 19px;
    background-color:#0101;
    border: 1px solid #c1cc;
    text-align: center;
}
input, button, select, textarea{
    font-family: 'Times New Roman', Times, serif;
    font-size: 29%;
    line-height: inherit;
    color: ivory;
}
body{
    font-family: sans-serif;
    font-size: 24px;
    width: 50%;
    height: 50%;
    background-image:url("./img/unnamed.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: ivory;
    margin-left: auto;
    margin-right: auto;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}
.container{
    background-color: ivory;
    opacity: 50%;
    color: black;
    background-size: 10% 45%;
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
.btn{
    background-color:red;
}
#show-contact{
    display: none;
}